In [1]:
import pandas as pd
df = pd.read_csv("csv/2019-by-clinic.csv")
df.head()

,OrderID,CurrentClinicName1,CurrentClinicName2,CurrentClinicCity,CurrentClinicState,MedicalDirector,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,...,DonatedEmbryoService,EmbryoCryoService,EggCryoService,GestCarrierService,SARTmember,LabAccred,NumResearch,CurrentStateAbbrev,Geo,Dive in?
0,1,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,"Michael C Allemand, MD",134,54,35,12,...,Yes,Yes,Yes,Yes,Yes,Yes,0,AL,NaN,NaN
1,2,UNIVERSITY OF ALABAMA AT BIRMINGHAM,REPRODUCTIVE ENDOCRINOLOGY AND INFERTILITY,BIRMINGHAM,ALABAMA,"Deidre D. Gunn, MD",44,13,10,*,...,Yes,Yes,Yes,Yes,Yes,Yes,0,AL,NaN,NaN
2,3,ALABAMA FERTILITY SPECIALISTS,NaN,HOMEWOOD,ALABAMA,"Mamie R McLean, MD",117,46,30,22,...,No,Yes,Yes,Yes,Yes,Yes,0,AL,NaN,NaN
3,4,FERTILITY INSTITUTE OF NORTH ALABAMA,NaN,HUNTSVILLE,ALABAMA,"Brett Davenport, MD",0,0,0,0,...,No,Yes,Yes,Yes,No,Pending,0,AL,NaN,NaN
4,5,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,"George T. Koulianos, MD",78,45,43,13,...,Yes,Yes,Yes,Yes,Yes,Yes,0,AL,NaN,NaN

In [2]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="f-stats")

city="Pasadena"
state="California"
loc = geolocator.geocode(city+','+state)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)
loc_point = tuple(loc.point)
print("\npoint is",loc_point)

latitude is :- 34.1476452
longtitude is:- -118.1444779

point is (34.1476452, -118.1444779, 0.0)

In [3]:
df['full_address'] = df.CurrentClinicCity + "," + df.CurrentClinicState
df.full_address.head()

0    BIRMINGHAM,ALABAMA
1    BIRMINGHAM,ALABAMA
2      HOMEWOOD,ALABAMA
3    HUNTSVILLE,ALABAMA
4        MOBILE,ALABAMA
Name: full_address, dtype: object

In [4]:
df['gcode'] = df.full_address.apply(geolocator.geocode)
df.gcode.head()

0    (Birmingham, Jefferson County, Alabama, United...
1    (Birmingham, Jefferson County, Alabama, United...
2    (Homewood, Jefferson County, Alabama, United S...
3    (Huntsville, Madison County, Alabama, United S...
4    (Mobile, Mobile County, Alabama, United States...
Name: gcode, dtype: object

In [5]:
df['point'] = df['gcode'].apply(lambda gcode: tuple(gcode.point) if gcode else None)
df.point

0      (33.5206824, -86.8024326, 0.0)
1      (33.5206824, -86.8024326, 0.0)
2      (33.4717732, -86.8008228, 0.0)
3       (34.729847, -86.5859011, 0.0)
4      (30.6943566, -88.0430541, 0.0)
                    ...
443    (43.1790768, -88.1170784, 0.0)
444    (43.0962919, -89.5119565, 0.0)
445    (43.0962919, -89.5119565, 0.0)
446     (43.0349931, -87.922497, 0.0)
447    (43.0166806, -88.0070315, 0.0)
Name: point, Length: 448, dtype: object

In [6]:
df[df['gcode'].isnull()]

Empty DataFrame
Columns: [OrderID, CurrentClinicName1, CurrentClinicName2, CurrentClinicCity, CurrentClinicState, MedicalDirector, ND_NumIntentRet1, ND_NumIntentRet2, ND_NumIntentRet3, ND_NumIntentRet4, ND_IntentRetLB1, ND_IntentRetLB2, ND_IntentRetLB3, ND_IntentRetLB4, ND_IntentRetSingleLB1, ND_IntentRetSingleLB2, ND_IntentRetSingleLB3, ND_IntentRetSingleLB4, ND_NumRetrieve1, ND_NumRetrieve2, ND_NumRetrieve3, ND_NumRetrieve4, ND_RetrieveLB1, ND_RetrieveLB2, ND_RetrieveLB3, ND_RetrieveLB4, ND_RetrieveSingleLB1, ND_RetrieveSingleLB2, ND_RetrieveSingleLB3, ND_RetrieveSingleLB4, ND_NumTrans1, ND_NumTrans2, ND_NumTrans3, ND_NumTrans4, ND_TransLB1, ND_TransLB2, ND_TransLB3, ND_TransLB4, ND_TransSingleLB1, ND_TransSingleLB2, ND_TransSingleLB3, ND_TransSingleLB4, ND_IntentRetPerLB1, ND_IntentRetPerLB2, ND_IntentRetPerLB3, ND_IntentRetPerLB4, NewND_1IntentRetLB1, NewND_1IntentRetLB2, NewND_1IntentRetLB3, NewND_1IntentRetLB4, NewND_2IntentRetLB1, NewND_2IntentRetLB2, NewND_2IntentRetLB3, NewND_2IntentRetLB4, NewND_AllIntentRetLB1, NewND_AllIntentRetLB2, NewND_AllIntentRetLB3, NewND_AllIntentRetLB4, NewND_IntentRetPerNew1, NewND_IntentRetPerNew2, NewND_IntentRetPerNew3, NewND_IntentRetPerNew4, NewND_TransPerIntentRet1, NewND_TransPerIntentRet2, NewND_TransPerIntentRet3, NewND_TransPerIntentRet4, Donor_NumTrans1, Donor_NumTrans2, Donor_NumTrans3, Donor_NumTrans4, Donor_TransLB1, Donor_TransLB2, Donor_TransLB3, Donor_TransLB4, Donor_TranSingleLB1, Donor_TranSingleLB2, Donor_TranSingleLB3, Donor_TranSingleLB4, TotNumCycles1, TotNumCycles2, TotNumCycles3, TotNumCycles4, TotNumCyclesAll, CycleCancel1, CycleCancel2, CycleCancel3, CycleCancel4, CycleCancelAll, CycleStop1, CycleStop2, CycleStop3, CycleStop4, CycleStopAll, CycleFertPres1, CycleFertPres2, CycleFertPres3, CycleFertPres4, CycleFertPresAll, TransCarrier1, TransCarrier2, ...]
Index: []

[0 rows x 145 columns]

In [7]:
df[['lat','lon','altitude']] = pd.DataFrame(df['point'].to_list(), index=df.index)
df.head()

,OrderID,CurrentClinicName1,CurrentClinicName2,CurrentClinicCity,CurrentClinicState,MedicalDirector,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,...,NumResearch,CurrentStateAbbrev,Geo,Dive in?,full_address,gcode,point,lat,lon,altitude
0,1,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,"Michael C Allemand, MD",134,54,35,12,...,0,AL,NaN,NaN,"BIRMINGHAM,ALABAMA","(Birmingham, Jefferson County, Alabama, United...","(33.5206824, -86.8024326, 0.0)",33.520682,-86.802433,0.0
1,2,UNIVERSITY OF ALABAMA AT BIRMINGHAM,REPRODUCTIVE ENDOCRINOLOGY AND INFERTILITY,BIRMINGHAM,ALABAMA,"Deidre D. Gunn, MD",44,13,10,*,...,0,AL,NaN,NaN,"BIRMINGHAM,ALABAMA","(Birmingham, Jefferson County, Alabama, United...","(33.5206824, -86.8024326, 0.0)",33.520682,-86.802433,0.0
2,3,ALABAMA FERTILITY SPECIALISTS,NaN,HOMEWOOD,ALABAMA,"Mamie R McLean, MD",117,46,30,22,...,0,AL,NaN,NaN,"HOMEWOOD,ALABAMA","(Homewood, Jefferson County, Alabama, United S...","(33.4717732, -86.8008228, 0.0)",33.471773,-86.800823,0.0
3,4,FERTILITY INSTITUTE OF NORTH ALABAMA,NaN,HUNTSVILLE,ALABAMA,"Brett Davenport, MD",0,0,0,0,...,0,AL,NaN,NaN,"HUNTSVILLE,ALABAMA","(Huntsville, Madison County, Alabama, United S...","(34.729847, -86.5859011, 0.0)",34.729847,-86.585901,0.0
4,5,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,"George T. Koulianos, MD",78,45,43,13,...,0,AL,NaN,NaN,"MOBILE,ALABAMA","(Mobile, Mobile County, Alabama, United States...","(30.6943566, -88.0430541, 0.0)",30.694357,-88.043054,0.0

In [12]:
from geopy import distance

df['distance'] = df.apply(lambda x: distance.distance(loc_point, x['point']).miles, axis=1)
df.distance

0      1796.078641
1      1796.078641
2      1796.770888
3      1795.259769
4      1768.849660
          ...
443    1727.810897
444    1657.585739
445    1657.585739
446    1735.627175
447    1731.187057
Name: distance, Length: 448, dtype: float64

In [18]:
closest = df.nsmallest(5,'distance')
closest

,OrderID,CurrentClinicName1,CurrentClinicName2,CurrentClinicCity,CurrentClinicState,MedicalDirector,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,...,CurrentStateAbbrev,Geo,Dive in?,full_address,gcode,point,lat,lon,altitude,distance
59,60,HRC FERTILITY,NaN,PASADENA,CALIFORNIA,"John G. Wilcox, MD",602,442,419,453,...,CA,True,NaN,"PASADENA,CALIFORNIA","(Pasadena, California, United States, (34.1476...","(34.1476452, -118.1444779, 0.0)",34.147645,-118.144478,0.0,0.000000
60,61,"UNITY FERTILITY CENTER, LLC",NaN,PASADENA,CALIFORNIA,"Chun-Yeh Wang, MD, PhD",10,*,7,14,...,CA,True,False,"PASADENA,CALIFORNIA","(Pasadena, California, United States, (34.1476...","(34.1476452, -118.1444779, 0.0)",34.147645,-118.144478,0.0,0.000000
32,33,CARE FERTILITY,NaN,GLENDALE,CALIFORNIA,"Rudy Quintero, MD",71,39,50,26,...,CA,True,NaN,"GLENDALE,CALIFORNIA","(Glendale, California, United States, (34.1469...","(34.1469416, -118.2478471, 0.0)",34.146942,-118.247847,0.0,5.923871
33,34,"KATHLEEN KORNAFEL, MD PHD",NaN,GLENDALE,CALIFORNIA,"KATHLEEN KORNAFEL, MD, PhD",0,0,0,0,...,CA,True,False,"GLENDALE,CALIFORNIA","(Glendale, California, United States, (34.1469...","(34.1469416, -118.2478471, 0.0)",34.146942,-118.247847,0.0,5.923871
40,41,CALIFORNIA FERTILITY PARTNERS,NaN,LOS ANGELES,CALIFORNIA,"Richard P. Marrs, MD",70,117,146,245,...,CA,True,NaN,"LOS ANGELES,CALIFORNIA","(Los Angeles, California, United States, (34.0...","(34.0536909, -118.242766, 0.0)",34.053691,-118.242766,0.0,8.584634

In [19]:
# import the library and its Marker clusterization service
import folium
from folium.plugins import MarkerCluster
# Create a map object and center it to the avarage coordinates to m
m = folium.Map(location=closest[["lat", "lon"]].mean().to_list(), zoom_start=2)
# if the points are too close to each other, cluster them, create a cluster overlay with MarkerCluster, add to m
marker_cluster = MarkerCluster().add_to(m)
# draw the markers and assign popup and hover texts
# add the markers the the cluster layers so that they are automatically clustered
for i,r in closest.iterrows():
    location = (r["lat"], r["lon"])
    folium.Marker(location=location,
                      popup = r['Name'],
                      tooltip=r['Name'])\
    .add_to(marker_cluster)
# display the map
m

ModuleNotFoundError: No module named 'folium'